*{
   margin: 0;
   box-sizing: border-box;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}
body{
   background-color: rgba(211, 211, 211, 0.224)
}
header, main{
   background-color: white;
}
#parte-principale{
   padding: 15px;
}
#logo, #titolo{
   vertical-align: middle;
}
#titolo{
   display: inline;
   font-size: 45px;
}
#parte-centrale{
   width: 900px;
   height: 650px;
   margin: 50px auto;
   border-radius: 2%;
}
.spostamento{
   padding-top: 15px;
   margin-left: 50px;
}
.button{
   padding: 5px;
   border-radius: 5px;
}
#modifica-primo-bottone{
   background-color:rgb(71, 173, 241);
   color: white;
   border: none;
}
#modifica-secondo-bottone{
   border: 2px solid rgb(206, 211, 215);
   color: rgb(206, 211, 215);
   background-color: white;
}
#riga{
   margin-top: 5px;
   border: 2px solid rgba(211, 211, 211, 0.224);
}
h2{
   margin-top: 25px;
   margin-bottom: 10px;
}
.sfondo-task{
   color: white;
   padding: 7px;
   border-radius: 15px;
   font-size: 10px;
}
.modifica-entities{
   padding: 2px;
   border-radius: 50%;
   
}
.check{
   color: rgb(147, 213, 199);
   border: 1px solid rgb(147, 213, 199);
}
.cross{
   color: rgb(237, 113, 107);
   border: 1px solid rgb(237, 113, 107);
}
.spazio-task{
   margin-bottom: 25px;
}
.azzurro{
   background-color: rgb(69, 171, 234);
}
#viola{
   background-color: rgb(156, 114, 228);
}
#verde{
   background-color: rgb(100, 192, 169);
}
#arancione{
   background-color: rgb(242, 158, 51);
}
#rosa{
   background-color: rgb(216, 99, 161);
}
#pistacchio{
   background-color: rgb(176, 201, 38);
}